<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="prizes" xsi:type="array">
                    <item name="class" xsi:type="string">Angel\RaffleClient\Ui\DataProvider\Product\Form\Modifier\Raffle</item>
                    <item name="sortOrder" xsi:type="number">70</item>
                </item>
                <item name="tickets" xsi:type="array">
                    <item name="class" xsi:type="string">Angel\RaffleClient\Ui\DataProvider\Product\Form\Modifier\RaffleTickets</item>
                    <item name="sortOrder" xsi:type="number">75</item>
                </item>
                <item name="random_number" xsi:type="array">
                    <item name="class" xsi:type="string">Angel\RaffleClient\Ui\DataProvider\Product\Form\Modifier\WinningNumber</item>
                    <item name="sortOrder" xsi:type="number">80</item>
                </item>
                <!--<item name="raffle_review" xsi:type="array">-->
                    <!--<item name="class" xsi:type="string">Angel\RaffleClient\Ui\DataProvider\Product\Form\Modifier\Review</item>-->
                    <!--<item name="sortOrder" xsi:type="number">80</item>-->
                <!--</item>-->
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Catalog\Ui\DataProvider\Product\Form\ProductDataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool</argument>
        </arguments>
    </type>
</config>
