<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Angel_RaffleClient::raffle" sortOrder="10" title="Raffle">
					<resource id="Angel_RaffleClient::raffle_product" sortOrder="10" title="Raffle"/>
					<resource id="Angel_RaffleClient::raffle_ticket" sortOrder="20" title="Ticket"/>
					<resource id="Angel_RaffleClient::test" sortOrder="30" title="Test"/>
				</resource>
				<resource id="Angel_RaffleClient::fifty" sortOrder="11" title="Fifty">
					<resource id="Angel_RaffleClient::fifty_product" sortOrder="10" title="Fifty"/>
					<resource id="Angel_RaffleClient::fifty_ticket" sortOrder="20" title="Ticket"/>
				</resource>
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Angel_RaffleClient::config_angel_raffleclient" title="Raffle"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
