<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Angel\RaffleClient\Api\RaffleManagementInterface" type="Angel\RaffleClient\Model\RaffleManagement"/>
	<virtualType name="Angel\RaffleClient\Model\ResourceModel\Prize\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">angel_raffleclient_prize</argument>
			<argument name="resourceModel" xsi:type="string">Angel\RaffleClient\Model\ResourceModel\Prize\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="angel_raffleclient_prize_grid_data_source" xsi:type="string">Angel\RaffleClient\Model\ResourceModel\Prize\Grid\Collection</item>
				<item name="angel_raffleclient_ticket_grid_data_source" xsi:type="string">Angel\RaffleClient\Model\ResourceModel\Ticket\Grid\Collection</item>
				<item name="angel_raffleclient_randomnumber_grid_data_source" xsi:type="string">Angel\RaffleClient\Model\ResourceModel\RandomNumber\Grid\Collection</item>
				<item name="angel_raffleclient_transaction_grid_data_source" xsi:type="string">Angel\RaffleClient\Model\ResourceModel\Transaction\Grid\Collection</item>
				<item name="angel_raffleclient_test_grid_data_source" xsi:type="string">Angel\RaffleClient\Model\ResourceModel\Test\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<virtualType name="Angel\RaffleClient\Model\ResourceModel\Transaction\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">angel_raffleclient_transaction</argument>
			<argument name="resourceModel" xsi:type="string">Angel\RaffleClient\Model\ResourceModel\Transaction\Collection</argument>
		</arguments>
	</virtualType>
	<virtualType name="Angel\RaffleClient\Model\ResourceModel\Test\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">angel_raffleclient_test</argument>
			<argument name="resourceModel" xsi:type="string">Angel\RaffleClient\Model\ResourceModel\Test\Collection</argument>
		</arguments>
	</virtualType>
</config>
